h1 {
    text-align: center; color: white; background-color: gray; font-size: 16px;
}
.texto{
    color: red;
    font-size: 14px;
}
.texto_italico {
    font-style: italic;
    font-size: 14px;
}
span { 
    color: blue;
    font-weight: bold;
}